#
# Copyright 2025-2026 Infradise Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Build GUI for Keyscope
name: GUI

on:
  push:
    tags: [ "v*.*.*" ]

  workflow_dispatch:
    inputs:
      os:
        description: "Target OS"
        required: true
        default: "macos-latest"
        type: choice
        # See https://github.com/actions/runner-images
        options:
          # - macos-14-large # x64
          - macos-14 # arm64
          - ubuntu-latest # x64
          - windows-latest # x64
          # - fedora-latest

      arch:
        description: "Target architecture"
        required: true
        default: "arm64"
        type: choice
        options:
          - x64
          - arm64
          # - x86_64
          # - amd64
          # - x64
          # - arm64
          # - aarch64
          # - universal

      tag_name:
        description: "Release Tag (e.g., v0.8.1) - Leave empty to skip release upload"
        required: false
        type: string

permissions:
  contents: write

jobs:
  build-gui-all:
    name: GUI Build (${{ matrix.os }} - ${{ matrix.arch }})
    # name: ${{ matrix.os != '' && format('GUI Build ({0} - {1})', matrix.os, matrix.arch) || 'GUI Build' }}
    # name: ${{ inputs.os != '' && format('GUI Build ({0} - {1})', inputs.os, inputs.arch) || 'GUI Build' }}
    runs-on: ${{ matrix.os }}
    if: github.event_name == 'push'
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        arch: [arm64, x64]

        include:
          # TODO: universal
          # - os: macos-latest
          #   arch: arm64
          #   platform: macos
          - os: macos-14 # arm64
            arch: arm64
            platform: macos
          # - os: macos-14-large # x64
          #   arch: x86_64
          #   platform: macos
          - os: ubuntu-latest # x64
            platform: linux
            # arch: x64
          - os: windows-latest # x64
            platform: windows
            # arch: x64
        # Exclude paid runners.

        exclude:
          - os: ubuntu-latest
            arch: arm64
          - os: windows-latest
            arch: arm64
        # exclude:
        #   - os: ${{ github.event_name == 'workflow_dispatch' && 'ubuntu-latest' || '' }}
        #     if: inputs.os != 'ubuntu-latest' && inputs.arch == 'arm64'
        #   - os: ${{ github.event_name == 'workflow_dispatch' && 'windows-latest' || '' }}
        #     if: inputs.os != 'windows-latest' && inputs.arch == 'arm64'
        #   - arch: ${{ github.event_name == 'workflow_dispatch' && 'macos-14' || '' }}
        #     if: inputs.arch != 'x64' 
        #   - arch: ${{ github.event_name == 'workflow_dispatch' && 'macos-14-large' || '' }}
        #     if: inputs.arch != 'arm64' 

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      # - name: Set Platform
      #   id: set_platform
      #   shell: bash
      #   run: |
      #     if [[ "${{ matrix.os }}" == *"ubuntu"* ]]; then echo "platform=linux" >> $GITHUB_OUTPUT; fi
      #     if [[ "${{ matrix.os }}" == *"windows"* ]]; then echo "platform=windows" >> $GITHUB_OUTPUT; fi
      #     if [[ "${{ matrix.os }}" == *"macos"* ]]; then echo "platform=macos" >> $GITHUB_OUTPUT; fi

      - name: Run Shared Build Logic
        uses: ./.github/actions/build-logic
        with:
          os: ${{ matrix.os }}
          arch: ${{ matrix.arch }}
          platform: ${{ matrix.platform }}
          # platform: ${{ steps.set_platform.outputs.platform || matrix.platform }}
    
  build-manual:
    name: Manual GUI Build (${{ inputs.os }} - ${{ inputs.arch }})
    if: github.event_name == 'workflow_dispatch'
    # ${{ github.event.inputs.os }}
    runs-on: ${{ inputs.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Validate Inputs
        run: |
          echo "Checking OS: ${{ inputs.os }} and Arch: ${{ inputs.arch }}"
          
          # Exclude paid runners (Ubuntu arm64 and Windows arm64)
          if [[ "${{ inputs.os }}" =~ (ubuntu|windows) ]] && [[ "${{ inputs.arch }}" == "arm64" ]]; then
            echo "::error::❌ Error: ${{ inputs.os }} on arm64 is excluded from this workflow."
            exit 1
          fi

          # Exclude paid runners (macOS x86_64)
          if [[ "${{ inputs.os }}" == "macos-14-large" ]]; then
            echo "::error::❌ Error: 'macos-14-large' on x86_64 is excluded from this workflow."
            exit 1
          fi

      # Environment
      - name: Set Platform and Arch
        id: set_env
        run: |
          case "${{ inputs.os }}" in
            macos-latest|macos-14-large|macos-14)
              case "${{ inputs.arch }}" in
                x64)   echo "arch=x86_64" >> $GITHUB_OUTPUT ;;
                arm64) echo "arch=arm64" >> $GITHUB_OUTPUT ;;
                *)     echo "Unsupported arch: ${{ inputs.arch }}"; exit 1 ;;
              esac
              echo "Running on macOS - ${{ inputs.os }}"
              echo "platform=macos" >> $GITHUB_OUTPUT
              ;;
            ubuntu-latest)
              case "${{ inputs.arch }}" in
                x64)   echo "arch=x86_64" >> $GITHUB_OUTPUT ;;
                arm64) echo "arch=aarch64" >> $GITHUB_OUTPUT ;;
                *)     echo "Unsupported arch: ${{ inputs.arch }}"; exit 1 ;;
              esac
              echo "Running on Ubuntu - ${{ inputs.os }}"
              echo "platform=linux" >> $GITHUB_OUTPUT
              ;;
            windows-latest)
              case "${{ inputs.arch }}" in
                x64)   echo "arch=x64" >> $GITHUB_OUTPUT ;;
                arm64) echo "arch=arm64" >> $GITHUB_OUTPUT ;;
                *)     echo "Unsupported arch: ${{ inputs.arch }}"; exit 1 ;;
              esac
              echo "Running on Windows - ${{ inputs.os }}"
              echo "platform=windows" >> $GITHUB_OUTPUT
              ;;
            *)
              echo "Unsupported OS: ${{ inputs.os }}"
              exit 1
              ;;
          esac

      - name: Run Shared Build Logic
        uses: ./.github/actions/build-logic
        with:
          os: ${{ inputs.os }}
          arch: ${{ steps.set_env.outputs.arch }} 
          platform: ${{ steps.set_env.outputs.platform }}
